html, body, .flex-col {
  display: flex;
  flex-direction: column;
}

input, button {
  width: fit-content;
}

canvas {
  width: min(calc(50vh / 9 * 16), 100vw);
  aspect-ratio: 16 / 9;
}
#gear-canvas {
  aspect-ratio: 1920 / 320;
}
#curve-range {
  width: min(calc(50vh / 9 * 16), 100vw);
}
#curve-range-holder {
  position: relative;
}
#curve-range-holder div {
  position: absolute;
  top: 0;
  right: 0;
}

#pages-buttons {
  margin-bottom: 2rem;
}
.page {
  display: none;
}
.shown {
  display:flex;
  flex-direction: column;
}
.hidden {
  display: none;
}

#gears {
  width: 50vw;
  height: 3rem;
}

.box {
  display: flex;
  flex-direction: column;

  border: 1px solid black;

  width: fit-content;
  padding: 0.5rem;

  margin-bottom: 0.5rem;
}

.gauge {
  height: 40vh;
  width: 40vh;
  margin-bottom: 0.5rem;
}


#saved-runs {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.saved-run {
  display: flex;

  border-bottom: 1px dotted black;
}
.remove-run {
  margin-right: 0.2rem;
}